<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="../public/images/logo/favicon.ico" />
    <link rel="apple-touch-icon" href="../public/images/logo/logo192.png" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OUR RESTO</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <h1 class="header__title">OUR RESTO</h1>
          <nav id="nav-desktop" class="nav">
            <div class="nav__list">
              <div class="nav__item"><a href="/">Home</a></div>
              <div class="nav__item"><a href="#"> Favorite</a></div>
              <div class="nav__item">
                <a href="https://ranau.my.id/">About Us</a>
              </div>
            </div>
          </nav>
          <a id="menu" class="header__menu">☰</a>
        </div>
      </div>
    </header>
    <nav id="drawer" class="nav-mobile">
      <div class="nav__list">
        <div class="nav__item"><a href="/">Home</a></div>
        <div class="nav__item"><a href="#"> Favorite</a></div>
        <div class="nav__item">
          <a href="https://ranau.my.id/">About Us</a>
        </div>
      </div>
    </nav>
    <div class="hero"></div>
  </body>
</html>
